@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');

* {
  box-sizing: border-box;
}


.aboutsectionzero-container{
  padding-top: clamp(16px, 8vw, 36px);
  padding-bottom: clamp(16px, 4vw, 36px);
  padding-left: clamp(2rem, 4vw, 4rem);
  padding-right: clamp(2rem, 4vw, 4rem);
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 10px;
}

.aboutsectionzero-gallery{
  border-width: 1px;
  border-radius: 5px;
  border-color: #8d7a69;
  width: 90vw;
  padding: 6px ;
}

/* App.css */
.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}



.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header__title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.header__description {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  max-width: 620px;
}

.header__button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  text-decoration: none;
  margin-bottom: 3rem;
}

.header__button:hover {
  color: #0056b3;
  background-color: transparent;
  border-color: #0056b3;
}

