.header-margin {
    height: 70px;
    visibility: hidden;
    pointer-events: none;
  }

.aboutsectionone-container {
    padding-top: clamp(16px, 8vw, 36px);
    padding-bottom: clamp(16px, 4vw, 36px);
    padding-left: clamp(2rem, 4vw, 4rem);
    padding-right: clamp(2rem, 4vw, 4rem);
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.tabs-container {
    width: 90vw;
    padding-top: clamp(16px, 4vw, 36px);
    padding-bottom: clamp(16px, 4vw, 36px);
    padding-left: clamp(16px, 4vw, 32px);
    padding-right: clamp(16px, 4vw, 32px);
    border-width: 1px;
    border-radius: 5px;
    border-color: #8d7a69;
}

.tab-icon {
  color: grey;
}

.pointer {
  cursor: pointer;
}

.tab-icon-active {
color: #8d7a69;
}

.customized-tabs .ant-tabs-ink-bar {
  background-color: #8d7a69; 
}