@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container styles */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Row styles */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Column styles */
.col {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-social-links {
  font-size: clamp(25px, 5vw, 35px);
  padding-right: 10px;
}

.footer-social-links:hover {
  color: black;
}

.email-icon {
  height: clamp(25px, 5vw, 35px);
  width: auto;
  object-fit: contain;
  padding-right: 10px;
  fill: white;
  color: white;
}