.sectionfour-container {
    padding-top: clamp(4rem, 4vw, 32px);
    padding-bottom: clamp(16px, 4vw, 32px);
    padding-left: clamp(16px, 4vw, 32px);
    padding-right: clamp(16px, 4vw, 32px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }