.header-margin {
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}
.sectionone-section{
  display: grid;
  place-items: center;
}

.sectionzero-container {
  padding-top: clamp(16px, 4vw, 36px);
  padding-bottom: clamp(16px, 4vw, 36px);
  padding-left: clamp(16px, 4vw, 32px);
  padding-right: clamp(16px, 4vw, 32px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectionzero-container-top {
  display: flex;
  width: 50%;
  border-radius: 10px;
  padding: 3rem;
  justify-content: center;
  align-items: center;

}
.sectionzero-container-top-1 {
  padding-right: clamp(0%, 30vw, 70%);
  padding-bottom: 2rem;
}
.sectionzero-container-top-2 {
  padding-right: clamp(0%, 30vw, 10%);
}
.sectionzero-container-top-3 {
  padding-left: clamp(0%, 30vw, 15%);
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.sectionzero-social-links {
  font-size: clamp(40px, 5vw, 60px);
  padding: 30px 15px 0px 15px;
}
.sectionzero-social-links:hover {
  color: #99a083;
}
.linkedin-color {
  color: #0077B5;
}

.sectionzero-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
  margin-top: 8rem;
  width: 50%;
  height: auto;
}
.sectionzero-container-right-img {
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

#demo-svg path {
  stroke-dasharray: 3750;
}
#demo-svg {
  width: clamp(210px, 30vw, 700px);
  height: clamp(30px, 10vw, 100px);
}

@media only screen and (max-width: 552px) {
  .sectionzero-container-top-1 {
    transition: 0.4s ease-in;
    padding-right: 0%;
  }
  .sectionzero-container-top-2{
    padding-right: 0%;
  } 
  .sectionzero-container-top-3 {
    transition: 0.4s ease-in;
    padding-left: 0%;
    padding-bottom: 1rem;
  }
  .sectionzero-container {
    transition: 0.4s ease-in;
    flex-direction: column;
  }
  .sectionzero-container-top, .sectionzero-container-right   {
    transition: 0.4s ease-in;
    width: 100%;
}
} 

/* SectionOne About Reference */
.sectionone-anchor {
  height: 70px;
  pointer-events: none;
}