.sectionone-container {
  padding-top: clamp(4rem, 4vw, 32px);
  padding-left: clamp(16px, 4vw, 32px);
  padding-right: clamp(16px, 4vw, 32px);
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionone-container-main {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.sectionone-about,
.sectionone-container-left,
.sectionone-container-right-header {
  opacity: 0;
  transition: opacity 0.3s;
}

.sectionone-container-left {
  width: 35%;
}
.sectionone-container-left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  /* clip-path: polygon(60% 24%, 84% 34%, 84% 53%, 70% 64%, 56% 74%, 37% 80%, 21% 73%, 16% 60%, 14% 46%, 19% 36%, 28% 29%, 45% 23%); */
}
.sectionone-container-right {
  width: 65%;
  justify-content: center;
  gap: 4rem;
}

.sectionone-container-right-header {
  padding: 0.5rem 4rem 0.5rem 5rem;
}

.sectionone-container-right-text {
  padding: 1rem 4rem 0.5rem 5rem;
}

.sectionone-container-right-button-div {
  display: flex;
  justify-content: left;
  padding-top: 5rem;
  padding: 1rem 4rem 0.5rem 5rem;
}

.sectionone-container-right-button {
  width: clamp(4rem, 7.077rem + 1.231vw, 12rem);
  font-size: 500;
  border-radius: 7px;
  border-color: #8d7a69;
  border-width: 2px;
  background-color: #fefae0;
  padding: 2rem clamp(2rem, 7.077rem + 1.231vw, 7rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
  0 2px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.sectionone-container-right-button:hover {
  background-color: #8d7a69;
  border-color: #fefae0;
  color: #fefae0;
  transition: 0.4s ease-in;
}

/* SectionTwo Projects Reference */
.sectiontwo-anchor {
  height: 70px;
  pointer-events: none;
}

@media only screen and (max-width: 552px) {
  .sectionone-container-right-header {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  .sectionone-container-right-text {
    padding: 1rem 2rem 0.5rem 2rem;
    transition: 0.3s ease-in-out;
  }
  .sectionone-container-left{
    display: none;
    transition: 0.6s ease-in-out;
  }
  .sectionone-container-right {
    width: 100%;
  }
  .sectionone-container-right-button-div {
    justify-content: center;
  }
}