@import "@fortawesome/fontawesome-free/css/all.min.css";
.sectiontwo-section {
  background-color: var(--primary-color);
}

.sectiontwo-container {
  padding-top: clamp(4rem, 4vw, 32px);
  padding-bottom: clamp(16px, 4vw, 32px);
  padding-left: clamp(16px, 4vw, 32px);
  padding-right: clamp(16px, 4vw, 32px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectiontwo-projects {
  color: var(--secondary-color);
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  gap: 4rem;
}

.individualproject-container {
  display: grid;
  place-items: center;
}

.project {
  align-items: center;
  transition: transform 0.3s, opacity 0.3s;
  width: 70vw;
  background-color: var(--primary-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: clamp(2rem, 4vw, 4rem);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.project-main {
  display: flex;
  flex-direction: row;
}

.project-title {
  text-align: center;
  color: var(--secondary-color3);
  font-weight: 600;
}
.project-date {
  color: var(--secondary-color3);
  font-weight: 500;
}

.individualproject-desc {
  padding-left: clamp(2rem, 4vw, 4rem);
  padding-right: clamp(2rem, 4vw, 4rem);
  width: 65%;
}

.project-desc-tag {
  width: 100%;
  text-decoration: underline;
  padding-top: clamp(1.5rem, 1.154rem + 0.462vw, 3rem);
  color: var(--secondary-color);
}
.project-desc {
  width: 100%;
  color: var(--secondary-color);
}

.projectimage-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 1px;
  border-color: var(--secondary-color);
  border-radius: 10px;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.icon-deco {
  padding-top: 0.5rem;
  color: var(--secondary-color);
  font-size: clamp(30px, 5vw, 50px);
  padding-right: 20px;
}
.icon-deco:hover {
  color: var(--secondary-color2);
}
.techstack-icons {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

.TechstackIcon {
  object-fit: contain;
  height: clamp(25px, 5vw, 40px);
  width: clamp(25px, 5vw, 40px);
  margin: 5px;
}

@media only screen and (max-width: 552px) {
  .projectimage-container {
    display: none;
    transition: 0.6s ease-in-out;
  }
  .individualproject-desc {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
  .project {
    width: 90vw;
  }
}

/* SectionThree TechStack Reference */
.sectionthree-anchor {
  height: 70px;
  pointer-events: none;
}

@media only screen and (max-width: 552px) {
  .sectionthree-anchor {
    height: clamp(5rem, 0.536rem + 5.952vi, 8.75rem);
    pointer-events: none;
  }
}
