@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

p,
a {
  font-size: 26px;
  font-weight: 400;
}

h1 {
  font-size: 80px;
  font-weight: 800;
}

h2 {
  font-size: 46px;
  font-weight: 650;
}

h3 {
  font-size: 42px;
  font-weight: 500;
}

h4 {
  font-size: 32px;
  font-weight: 500;
}

.text-cornsilk {
  color: #fefae0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.bg-cornsilk {
  background-color: #fefae0;
}

.text-mossgreen {
  color: #99a083;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.bg-mossgreen {
  background-color: #99a083;
}

.text-tan {
  color: #a7917c;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-tan2 {
  color: #8d7a69;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-teagreen {
  color: #e9edc9;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-papayawhip {
  color: #faedcd;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-dun {
  color: #e8ceac;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-darkgreen {
  color: #1c5e52;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-darkgrey {
  color: #3d3c3b;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-grey {
  color: #9ca3af;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
