@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(75, 85, 99, 0.6);
}

.header-logo {
  height: 70px;
  width: auto;
}

.header-right {
  padding-right: 3rem;
}

.header-right-navitem {
  transition: color 0.2s ease-in;
  padding-right: 2rem;
}

.header-right-navitem:hover {
  font-weight: 600;
  color: #8b9177;
  text-decoration: underline;
}

.header-right-navitem-special { 
  transition: color 0.5s ease-in;
  border-radius: 25px;
  border-width: 2px;
  background-color: #99a083;
  border-color: #99a083;
  padding: 0.5rem 4rem 0.5rem 4rem;
}
.header-right-navitem-special:hover { 
  background-color: #fefae0;
  color:#646854;
  border-color: #646854;
}

@media (max-width: 900px) {
  /* Make Menu Button */
}
